/*-------------------------smooth navigation------------------------------------------*/


@media(prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}


/*----------------------------fonts--------------------------------------*/

/*
@font-face {
    font-family: 'Bangers';
    src: url('../fons/Bangers-ExtraBold.eot');
    src: local('../fons/Bangers ExtraBold'), local('../fons/Bangers-ExtraBold'),
        url('../fons/Bangers-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fons/Bangers-ExtraBold.woff') format('woff'),
        url('../fons/Bangers-ExtraBold.woff2') format('woff2'),
        url('../fons/Bangers-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------technical tags--------------------------*/
body{
    font-family: 'Bangers';
    font-weight: 400;
    color: #331B3B;

    /*&.lock{
        overflow: hidden;
    }*/
}
.wrapper{
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column; 
}
.main{
    flex: 1 1 auto;
}
._container{ 


    max-width: 1330px; 
    padding: 0 15px;
    margin: 0 auto;
    @media(min-width: 1700px){
        &{
            max-width: 1670px;
        }
    }
    
    @media(max-width: 1330px){  
        &{
            max-width: 970px;
        }
    }
    @media(max-width: 992px){   
        &{
            max-width: 750px;
        }
    }
    @media(max-width: 767px){   
        &{
            max-width: 479px;
        }
    }
    @media(max-width: 490px){
        &{
            max-width: none;
        }
    }
}
._underlined {
    display: inline-block;
    /*background: -webkit-linear-gradient(0deg, rgb(253, 194, 33) 26%, rgb(255, 255, 255) 26%);
    background: -moz-linear-gradient(0deg, rgb(253, 194, 33) 26%, rgb(255, 255, 255) 26%);
    background: linear-gradient(0deg, rgb(253, 194, 33) 26%, rgb(255, 255, 255) 26%);

    background: rgb(255,0,5);*/
    background: linear-gradient(0deg, rgba(253,194,33,1) 27%, rgba(253,33,33,0) 27%);
    background: -moz-linear-gradient(0deg, rgba(253,194,33,1) 27%, rgba(253,33,33,0) 27%);
    background: linear-gradient(0deg, rgba(253,194,33,1) 27%, rgba(253,33,33,0) 27%);   

    border-radius: 5px;
    
}

._bold {
    font-weight: 700;
}



._header-container{
}
._main-container{
}
._footer-container{
}
/*---------------------------------------decor-------------------------*/
.contaner-yellow-cloud{
    position: absolute;
    top: 0;
    right: 0;
    @media(max-width: 490px){
        &{
            top: -240px;
        }
    }
}
/*------------------------------------header-----------------------------------*/
.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    


    &__row {
        min-height: 113px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__menu {
        flex: 1 1 33.3%;
        order: 1;
        
    
    

        @media(max-width: 767px){
            &{
                position: absolute;
                display: flex;
                flex-direction: column;
                left: -50%;
                top: 65px;
                transition-duration: 0.4s;
                background-color: #ffe97bc1;
                border-radius: 0 15px 15px 0;
                padding: 20px;
                

                & a:not(:last-child){
                    margin-bottom: 20px;
                }

            }
        }

        &.active{
            left: 0;
        }
    }


    &__logo {
        font-family: 'Bangers', serif;
        flex: 1 1 33.3%;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        order: 2;
    }


    &__social {
        flex: 1 1 33.3%;
        order: 3;
    }
}
.menu {
    display: inline-flex;
    & a{
        font-size: 16px;
        font-weight: 400;
        color: #331B3B; 

        padding-bottom: 5px;
        
        position: relative;
        top: 0;
        left: 0;

        @media(min-width: 992px){
            &:hover{
            font-weight: 600;
            &::before{
                content: '';
                background: #FDC221;
                width: 50%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            }
        }
        
    }
    & a:not(:last-child){
        margin-right: 25px;
    }

    &__item {
    }
}
.social {
    text-align: right;
    & a{
        display: inline-block;
        width: 51px;
        padding: 20px;
        background: url('../../img/social/Ellipse.svg') 3px 10px no-repeat;

        transition-duration: 0.2s;

        @media(min-width: 992px){
            &:hover{
            transform: scale(0.9);

            }
        }
        
    }
    & a:last-child{
        padding-right: 40px;
        background: url('../../img/social/Ellipse.svg') 10px 8px no-repeat;
    }
    & a:first-child{
        margin-right: 9px;
    }
    


    &__icon{
        
        
    }
}

@media(max-width: 992px){   
    
    .header__row{
        flex-direction: column;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .header__logo{
        order: 1;
        margin-bottom: 15px;
    }
    .header__social{
        order: 2;
        margin-bottom: 15px;
    }
    .header__menu{
        order: 3;
    }
    .menu a{
        font-size: 18px;
    }
    .header__logo{
        font-size: 28px;
    }
}
@media(max-width: 767px){   
    .header__logo{
        
    }
    .menu a{
        font-size: 22px;
        font-weight: 700;
    }
}
/*-------------------------------------*/
/*---------------------burger------------------*/
.header__burger{
    display: none;
    

    @media(max-width: 767px){
        &{
            position: absolute;
            top: 25px;
            left: 20px;
            display: block;
            width: 30px;
            height: 20px;

        }
    }
    & span{
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    }
    &.active span{
        transform: scale(0);
        transition-duration: 0.3s;
    }
    &::before,&::after{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition-duration: 0.3s;
    }

    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
    }
    &.active::before{
        transform: rotate(45deg);
        top: 8px;
    }
    &.active::after{
            transform: rotate(-45deg);
            bottom: 9px;
    }
}


/*--------------------------------------*/
/*-------------------------------------*/





/*-------------------------------------main-------------------------------------*/
.main {



    &__forward-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 1330px){  
            &{
                flex-direction: column-reverse;
            }
        }
    }
}
.forward-block {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;

    margin-bottom: 100px;


    &__information {
        flex: 0 1 50%;
        
        padding-right: 70px;
        & div:not(:last-child){
            margin-bottom: 30px;
            @media(max-width: 767px){
                &{
                    margin-bottom: 20px;
                }
            }
            @media(max-width: 490px){
                &{
                    margin-bottom: 10px;
                }
            }
            
        }
        & a{
            display: inline-block;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 17px;
            line-height: 137%;
            background-color: #331B3B;
            border-radius: 10px;
            padding: 22px 49px;

            transition-duration: 0.2s;

            @media(min-width: 992px){
                &:hover{
                background-color: #5e366b;
                border-radius: 17px;

                }
            }
            
        }
    }


    &__title {
        font-weight: 300;
        font-size: 87px;
        line-height: 100%;

        @media(max-width: 490px){
            & span:first-child{
                font-size: 66px;
            }
        }
        }
    


    &__text {
        font-size: 17px;
        line-height: 146%;
        color: #331b3ba9;
    }


    &__button {
    }


    &__img {
        flex: 0 1 50%;
        margin-right: -30px;

        min-width: 721px;
        min-height: 630px;
        background:url('../../img/pron/main-img.png') 0 50px no-repeat, url('../../img/pron/yellow-cloud.png') 110px 0 no-repeat, url('../../img/pron/dotted.png') 0 90px no-repeat ;
        background-size: 721px 519px, 444px 630px, 581px 498px;

        
        
        

    }
}

@media(max-width: 1330px){
    .forward-block__information{
        padding-right: 0;
    }
}
@media(max-width: 992px){   
    .forward-block__img{
        transform: scale(0.9);
        margin-top: -40px;
    }
    .forward-block__title{
        font-size: 66px;
    }
    .forward-block__information{
        padding: 0;
    }
}
@media(max-width: 767px){   
    .forward-block__img{
        transform: scale(0.6);
        margin-top: -130px;
        left: -14px;
    }
    .forward-block__information{
        position: relative;
        top: 0;
        left: 0;
        margin-top: -110px;
    }
}
@media(max-width: 490px){
    .forward-block__img{
        transform: scale(0.4);
        margin-top: -190px;
        margin-right: 0;
    }
    .forward-block__information{
        margin-top: -180px;
    }
    .forward-block__title{
        line-height: 130%;
        font-size: 42px;
    }
    .forward-block__text{
        font-size: 14px;
    }
    .forward-block__button{
        transform-origin: left;
        transform: scale(0.8);
    }
}

/*---------------------------------proposals-------------------------*/
.main {


    &__proposals {      
        padding-bottom: 180px;
        margin-bottom: 50px;
        position: relative;
        top: 0;
        left: 0;
        
    }
}
.proposals {

    &__background {
        
        width: 89%;
        min-height: 578px;
        border-radius: 0 420px 0 0;
        background-color: #ECF7FF;

        position: relative;
        z-index: 5;
    }
    & > img{
        position: absolute;
        bottom: 0;
        right: 0;

        z-index: 2;
    }
    

    &__content{
        margin-top: -490px;

        position: relative;
        z-index: 10;

    }


    &__title {
        text-align: center;
        font-weight: 300;
        font-size: 48px;
        line-height: 106%;

        margin-bottom: 97px;
    }


    &__row {
        display: flex;
        width: 60%;

        & > div:not(:last-child){
            margin-right: 42px;
        }
    }


    &__item {

        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 18px 25px 18px 18px;
        box-shadow: 0 0 8px #b7b7b79f;

        & div:not(:last-child){
            margin-bottom: 11px;
        }

        & .pc{
            background-color: #FFEED4;
        }
        & .phone{
            background-color: #D4F0FF;
        }
    }


    &__mini-img {
        display: inline-block;
        padding: 11px;
        border-radius: 10px;
        background-color: #FFDED4;
        background-size: 53px 48px;
    }


    &__item-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 137%;

    }


    &__item-text {
        font-weight: 300;
        font-size: 15px;
        line-height: 145%;
        color: #331b3bab;
    }
}

@media(max-width: 1330px){
    .proposals__row{
        width: 80%;
        
    }

}
@media(max-width: 992px){
    .main__proposals{
        padding-bottom: 100px;
    }
    .proposals__item-text{
        display: none;
    }
    .proposals__item{
        padding: 18px 15px 9px 18px;
    }
    .proposals__item div:nth-child(2){
        margin-bottom: 0;
    }
    .proposals__title{
        font-size: 38px;
    }
    .proposals__background{
        min-height: 370px;
        border-radius: 0 270px 0 0;
    }
    .proposals__content{
        margin-top: -320px;

    }
    .proposals__title{
        margin-bottom: 50px;
    }
    .proposals > img{
        width: 360px;
        height: 390px;
    }


}
@media(max-width: 767px){
    .proposals__item{
    }
    .proposals__title{
        text-align: left;
    }
    .proposals__row{

    }

}
@media(max-width: 490px){
    .main__proposals{
        padding-bottom: 50px;
    }
    .proposals__background{
        min-height: 500px;
        border-radius: 0 270px 0 0;
    }
    .proposals > img{
        width: 260px;
        height: 290px;
    }
    .proposals__content{
        margin-top: -450px;

    }
    .proposals__row{
        flex-direction: column;

        & > div:not(:last-child){
            margin-right: 0;
            margin-bottom: 10px;
        }

    }
    .proposals__item{
        display: flex;
        width: 200px;

    }
    .proposals__item-title{
        padding-left: 15px;
    }

}



/*------------------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.about {
    margin-bottom: 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    &__img {
        flex: 1 0 53%;


        min-width: 690px;
        min-height: 639px;

        background:url('../../img/pron/main-img2.png') 30px 40px no-repeat, url('../../img/pron/yellow-cloud2.png') 0px 0 no-repeat, url('../../img/pron/dotted2.png') 25px 20px no-repeat ;
        background-size: 640px 590px, 660px 630px, 604px 598px;
    }


    &__information {
        flex: 0 1 47%;

        padding-left: 70px;
    }


    &__title {
        font-weight: 300;
        font-size: 48px;
        line-height: 106%;
        margin-bottom: 22px;
    }


    &__text {
        font-size: 17px;
        line-height: 146%;
        color: #331b3ba9;
        margin-bottom: 37px;

        
    }


    &__button {
    }
    & a{
        display: inline-block;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 17px;
        line-height: 137%;
        background-color: #331B3B;
        border-radius: 10px;
        padding: 22px 49px;

        transition-duration: 0.2s;

        @media(min-width: 992px){
            &:hover{
            background-color: #5e366b;
            border-radius: 17px;

            }
        }
        
    }
}
@media(max-width: 1330px){  
    .main__about{
        flex-direction: column;
    }
    .about__information{
        padding-left: 0;
    }
    .about__img{

    }
}




@media(max-width: 992px){   
    .about__img{
        transform: scale(0.8);
        margin-top: -65px;

    }
    .forward-block__title{
    }
    .about__information{
        margin-top: -65px;

    }
}
@media(max-width: 767px){   
    .about__img{
        transform: scale(0.6);
        margin-top: -125px;

    }
    .about__information{
        margin-top: -120px;
        
    }
    .about__title{
        margin-bottom: 10px;
    }
    .about__text{
        margin-bottom: 25px;
    }
}
@media(max-width: 490px){
    .about__img{
        transform: scale(0.45);
        margin-top: -175px;

    }
    .about__information{
        margin-top: -165px;
    }
    .forward-block__title{
    }
    .about__text{
        margin-bottom: 8px;
    }
    .about__button{
        transform-origin: left;
        transform: scale(0.8);
    }
}

/*---------------------------------------portfolio-----------------------------------*/
.main {


    &__portfolio {
        /*min-height: 637px;*/
        margin-bottom: 100px;

        
    }
}
.portfolio {


    &__background{
        min-height: 667px;
        width: 90%;
        /*float: right;*/

        background-color: #ffded460;
        border-radius: 420px 0  0 0;


        margin: 0 0 0 auto;

        @media(max-width: 992px){
            &{
                min-height: 1167px;
            }
        }
        @media(max-width: 490px){
            &{
                min-height: 267px;
                border-radius: 170px 0  0 0;

            }
        }
    }


    &__content {
        margin-top: -640px;

        @media(max-width: 992px){
            &{
                margin-top: -1120px;
            }
        }
        @media(max-width: 490px){
            &{
                margin-top: -240px;
            }
        }
    }


    &__upper {
       display: flex;
       justify-content: space-between;

       margin-bottom: 90px;

       @media(max-width: 992px){
        &{
            flex-direction: column;
            margin-bottom: 40px;

        }
       }
    }


    &__title {
        font-weight: 300;
        font-size: 48px;
        line-height: 106%;

        @media(max-width: 992px){
            &{
                margin-bottom: 45px;
            }
        }
        @media(max-width: 490px){
            &{
                font-size: 36px;

            }
        }
        
    }


    &__text {
        max-width: 500px;

        align-self: flex-end;
        font-size: 17px;
        line-height: 146%;

        @media(max-width: 490px){
            &{
                font-size: 14px;

            }
        }
        
    }


    &__row {
        display: flex;
        justify-content: flex-end;

        & section:not(:last-child){
            margin-right: 43px;

            @media(max-width: 992px){
                margin-right: 0;
                margin-bottom: 25px;
            }
        }

        @media(max-width: 992px){
            &{
               &{
                display: flex;
                flex-direction: column;
               }
            }
        }

        @media(max-width: 767px){
            &{
                align-items: center;
            }
        }
        @media(max-width: 490px){
            &{
                display: none;
            }
        }
    }


    &__item {
        
        /*width: 419px;
        height: 365px;*/

        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 8px #b7b7b79f;


        padding: 35px 18px 45px;
        
        & a{
            float: right;
            font-weight: 500;
            line-height: 146%;
            color: #331B3B;

            display: inline-block;
            border: 1px solid #343434;
            border-radius: 100px;

            padding: 0 5px;

            transition-duration: 0.2s;

            @media(min-width: 992px){
                &:hover{
                background-color: #e2e2e2;
                border-radius: 17px;

                }
            }
            
        }

        @media(max-width: 992px){
            &{
               width: 70%;
            }
            &:last-child{
                align-self: flex-end;

                @media(max-width: 767px){
                    align-self: center;
                }
            }
            
        }
        @media(max-width: 767px){
            &{
                width: 100%;
            }
        }

    }


    &__imgs {
       

        margin-bottom: 30px;

        & img:first-child{
            margin-right: 9px;
        }

        

        & img{
            @media(max-width: 992px){
                &{

                }
            }
        }

        @media(max-width: 992px){
            &{
               
            }
        }
        
    }


    &__item-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 146%;
    }


    &__item-button {
    }
}
@media(max-width: 1330px){

}
@media(max-width: 992px){

}
@media(max-width: 767px){

}
@media(max-width: 490px){

}
/*-----------------------------------recall-----------------------------------*/

.main {


    &__recall {
        margin-bottom: 90px;
    }
}
.recall {


    &__title {
        text-align: center;
        font-weight: 300;
        font-size: 48px;
        line-height: 110%;

        margin-bottom: 60px;

        @media(max-width: 767px){
            &{
                font-size: 36px;
                margin-bottom: 30px;
            }
        }
    }


    &__row {
        display: flex;
        justify-content: center;

        & > div:not(:last-child){
            margin-right: 68px;

            @media(max-width: 992px){
                &{
                    margin-right: 45px
                }
                ;
            }
            @media(max-width: 767px){
                &{
                    margin-right: 25px;
                }
                
            }

            @media(max-width: 490px){
                margin-right: 0px;
                margin-bottom: 25px;
            }

        }
        @media(max-width: 992px){
            &{
                justify-content: space-between;
            }
        }
        @media(max-width: 490px){
            flex-direction: column;
            align-items: center;
        }
        
    }


    &__item {
        width: 30%;

        box-shadow: 0 0 8px #b9b9b9;

        padding: 23px 30px;

        @media(max-width: 992px){
            &{
                flex: 1 1 45%;
            }
        }

        @media(max-width: 767px){
            &{
                flex: 1 1 45%;
            }
        }
        @media(max-width: 490px){
            width: 100%;
           
            
        }
    }


    &__img {
        margin-bottom: 30px;
    }


    &__text {
        line-height: 149%;

        margin-bottom: 10px;
    }


    &__item-subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 159%;

        padding-left: 15px;

        position: relative;
        top: 0;
        left: 0;

        &::before{
            content: '';
            background: url('../../img/recall/before.svg');
            width: 10px;
            height: 3px;

            position: absolute;
            top: 12px;
            left: 0;
        }
    }
}

@media(max-width: 1330px){

}
@media(max-width: 992px){

}
@media(max-width: 767px){

}
@media(max-width: 490px){

}













/*-------------------------------------footer-----------------------------------*/

.footer {
    color: #FFFFFF;


    &__background {
        min-height: 453px;
        width: 100%;

        background-color: #000000;
        border-radius: 0 150px 0 0;
    }


    &__row {
        display: flex;
        justify-content: space-between;

        padding: 75px 100px 0px 0;

        @media(max-width: 992px){
            flex-direction: column;
            padding: 25px 0 25px 0;

        }
    }


    &__information {
        width: 40%;

        @media(max-width: 992px){
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & > div:first-child{
                margin-right: 50px;
            }

        }
        @media(max-width: 767px){
            flex-direction: column;
            margin-bottom: 25px;
        }
    }


    &__title {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;

        margin-bottom: 15px;

        @media(max-width: 767px){
            text-align: center;
        }
    }


    &__text {
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 25px;
    }


    &__under-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 15px;

    }


    &__email-form {
        display: inline-flex;

        & a{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000;
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
        }
    }

    &__input-email{
        width: 263px;
        color: #FFFFFF;

        background-color: #000000;
        border: 1px solid #FFFFFF;

        padding-left: 13px;

        transition-duration: 0.3s;

        @media(max-width: 490px){
            width: 180px; 
        }

        
        &:focus{
            box-shadow: inset 0 0 8px #d6d6d6;
        }
    }


    &__button {
        width: 143px;
        height: 52px;
        background-color: #FFFFFF;

        @media(max-width: 490px){
            width: 80px; 
        }

        transition-duration: 0.2s;

        @media(min-width: 992px){
            &:hover{
            background-color: #d6d6d6;
            }
        }
        
    }


    &__map {
        /*width: 300px;
        height: 300px;*/

        /*background-color: #ECF7FF;*/

        margin-top: 15px;

        @media(max-width: 992px){
            align-self: center;
        }
        @media(max-width: 767px){
            position: relative;
            top: 0;
            left: -20px;
        }
        @media(max-width: 490px){
            left: 0;
 
        }

    }
}
@media(max-width: 1330px){
    
}
@media(max-width: 992px){
    /*.adapt1{
        flex: 1 1 50%;
    }*/
    .adapt2{
        align-self: flex-start;
    }
    
}
@media(max-width: 767px){
    .adapt1{
        margin-right: 0;
    }
    
}
@media(max-width: 490px){
    
}








